<header class="library__header">
      <div class="container header">
        <div class="home__container">
          <a href="./index.html" class="link logo__link">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
            <span class="logo__word">Filmoteka</span>
          </a>
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a href="./index.html" class="link navigation__link">home</a>
              </li>
              <li class="navigation__item">
                <a
                  href="./library.html"
                  class="link navigation__link navigation__link--current"
                  >my library</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="button__container">
          <button type="button" class="library__button watched__button library__button--active">
            Watched
          </button>
          <button type="button" class="library__button queue__button">
            queue
          </button>
        </div>
      </div>
    </header>
