<header class="home__header">
  <div class="container header">
    <div class="home__container">
      <a href="./index.html" class="link logo__link">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo__word">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a
              href="./index.html"
              class="link navigation__link navigation__link--current"
              >home</a
            >
          </li>
          <li class="navigation__item">
            <a href="./library.html" class="link navigation__link"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <form action="" class="search__form">
      <input
        type="text"
        class="search__input"
        name="searchInput"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" class="seach__button">
        <svg class="search__icon" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-search1"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
