<div class="backdrop is-hidden">
  <div class="team-modal">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="team-modal__list glide__slides">
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-1.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Olexandr Novak</h2>
              <p class="team-modal__role">Team Lead</p>
              <p class="team-modal__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur labore magnam, tempora aspernatur laborum illum
                placeat magni voluptate nobis eos.
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-2.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Anastasiya Rezanova</h2>
              <p class="team-modal__role">Scrum Master</p>
              <p class="team-modal__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur labore magnam, tempora aspernatur laborum illum
                placeat magni voluptate nobis eos.
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-3.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Sofiia Matsyshena</h2>
              <p class="team-modal__role">Modals Maker</p>
              <p class="team-modal__text">
                KNEU student, painting lover, smart, curious, loves to listen to dimanic music. Motto: "If it's done, it can always be done better"
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-4.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Victoria Panajoti</h2>
              <p class="team-modal__role">Roof & foundation of our site</p>
              <p class="team-modal__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur labore magnam, tempora aspernatur laborum illum
                placeat magni voluptate nobis eos.
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-5.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Yevhen Tsapko</h2>
              <p class="team-modal__role">Developer</p>
              <p class="team-modal__text">
                Coding is still my hobby. I hope the hobby will become a profession.
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-6.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Pasichnyk Vasyl</h2>
              <p class="team-modal__role">Developer</p>
              <p class="team-modal__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur labore magnam, tempora aspernatur laborum illum
                placeat magni voluptate nobis eos.
              </p>
            </div>
          </li>
          <li
            class="team-modal__item glide__slide"
          >
            <div class="team-modal__border-outside">
              <div class="team-modal__border-inside">
                <img
                  class="team-modal__img"
                  src="./images/footer-modal-11.jpg"
                  alt="фото члена команди"
                />
              </div>
            </div>
            <div class="team-modal__card">
              <h2 class="team-modal__name">Viktor Lohachov</h2>
              <p class="team-modal__role">Pressed on the keyboard</p>
              <p class="team-modal__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur labore magnam, tempora aspernatur laborum illum
                placeat magni voluptate nobis eos.
              </p>
            </div>
          </li>
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
          <button
            style="
              padding: 10px;
              box-shadow: none;
              border: none;
              left: 10px;
            "
            class="glide__arrow glide__arrow--left"
            data-glide-dir="<"
          >
            &#5130;
          </button>
          <button
            style="
              padding: 10px;
              box-shadow: none;
              border: none;
              right: 10px;
            "
            class="glide__arrow glide__arrow--right"
            data-glide-dir=">"
          >
            &#5125;
          </button>
        </div>
        <button type="button" class="close-btn"><svg class="close-btn__svg">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg></button>
      </div>
    </div>
  </div>
</div>
