.movie-list {
  max-width: 1280px;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin: 0;
  list-style: none;
  @include tablet {
    padding: 60px 32px;
    grid-gap: 32px;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 60px 32px;
    grid-gap: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.movie-list__item {
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.movie-list__img {
  height: 80%;
  border-radius: 5px;
}

.movie-list__info {
  margin-top: 12px;
  padding: 10px;
  @include desktop {
    margin-bottom: 16px;
  }
}

.movie-list__title,
.movie-list__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
  }
}
.movie-list__title {
  text-transform: uppercase;
}
.movie-list__text {
  color: #ff6b08;
}

.emptyCollection {
  max-width: 1280px;
  padding: 30px;
  margin: auto;
}
