.home__header {
  width: 100%;
  margin: 0 auto;
  height: 230px;
  padding-top: 40px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../image/home-mobile-1.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../image/home-mobile-2.jpg');
  }
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 216px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url('../image/home-tablet-1.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../image/home-tablet-2.jpg');
    }
  }
  @include desktop {
    background-image: url('../image/home-1.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../image/home-2.jpg');
    }
  }
}
.library__header {
  width: 100%;
  margin: 0 auto;
  height: 230px;
  padding-top: 40px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../image/watched-mobile-1.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../image/watched-mobile-2.jpg');
  }
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    height: 216px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url('../image/watched-tablet-1.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../image/watched-tablet-2.jpg');
    }
  }
  @include desktop {
    background-image: url('../image/watched-1.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../image/watched-2.jpg');
    }
  }
}
.home__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  @include tablet {
    margin-bottom: 40px;
  }
}
.logo__link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo__word {
  display: none;
  @include tablet {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color: #ffffff;
  }
}
.navigation__list {
  display: flex;
  gap: 40px;
}
.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  border-radius: 2px;
  display: block;
}
.search__form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 16px;
  @include tablet {
    width: 336px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 394px;
  }
}
.search__input {
  width: 100%;
  height: 20px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.seach__button {
  position: absolute;
  right: 0;
  background-color: transparent;
}
.search__icon {
  fill: #ffffff;
}
.button__container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.library__button {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: #ff6b01;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}
.home__footer {
  background-color: #f7f7f7;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  @include tablet {
    display: flex;
    justify-content: center;
  }
}
.footer__link {
  color: #545454;
}
